@using Moonlight.Features.Servers.Entities
@using MoonCore.Abstractions

@using System.Text.RegularExpressions
@using MoonCore.Helpers

@inject Repository<ServerVariable> ServerVariableRepository
@inject ToastService ToastService

@if (ImageVariable.AllowEdit)
{
    <div class="input-group">
        <select @bind="CurrentValue" class="form-select">
            @foreach (var option in Options)
            {
                if (CurrentValue == option)
                {
                    <option value="@option" selected>@option</option>
                }
                else
                {
                    <option value="@option">@option</option>
                }
            }
        </select>
        <WButton OnClick="Update" CssClasses="btn btn-icon btn-primary">
            <i class="bx bx-sm bx-save"></i>
        </WButton>
    </div>
}
else
{
    <div class="input-group">
        <select  class="form-select" disabled="disabled">
            <option selected>@Variable.Value</option>
        </select>
    </div>
}

@code
{
    [Parameter] public ServerVariable Variable { get; set; }

    [Parameter] public ServerImageVariable ImageVariable { get; set; }

    [Parameter] public Func<Task> OnChanged { get; set; }

    private string[] Options = Array.Empty<string>();
    private string CurrentValue = "";

    protected override void OnInitialized()
    {
        CurrentValue = Variable.Value;
        
        if (string.IsNullOrEmpty(ImageVariable.Filter))
            return;

        Options = ImageVariable.Filter.Split(";");
    }

    private async Task Update()
    {
        if (!string.IsNullOrEmpty(ImageVariable.Filter) && !Options.Contains(CurrentValue))
        {
            await ToastService.Danger("Invalid variable value");
            return;
        }

        Variable.Value = CurrentValue;
        ServerVariableRepository.Update(Variable);

        await ToastService.Success("Successfully changed variable");
        await OnChanged.Invoke();
    }
}