@page "/admin/servers/images"

@using System.ComponentModel.DataAnnotations
@using Moonlight.Features.Servers.UI.Components
@using Microsoft.EntityFrameworkCore
@using MoonCore.Abstractions
@using MoonCore.Exceptions

@using Moonlight.Features.Servers.Entities
@using Moonlight.Features.Servers.Helpers
@using Microsoft.AspNetCore.Components.Forms
@using Moonlight.Features.Servers.UI.ImageComponents

@inject Repository<Server> ServerRepository
@inject Repository<ServerImageVariable> VariableRepository
@inject Repository<ServerDockerImage> DockerImageRepository
@inject Repository<ServerImage> ImageRepository

@inject ImageConversionHelper ImageConversionHelper
@inject DownloadService DownloadService
@inject ToastService ToastService
@inject AlertService AlertService
@inject ILogger<Index> Logger

@attribute [RequirePermission(5002)]

<AdminServersNavigation Index="2"/>

<FastCrud TItem="ServerImage"
          Loader="Loader"
          OnConfigure="OnConfigure"
          OnConfigureCreate="OnConfigureForm"
          OnConfigureEdit="OnConfigureForm">
    <View>
        <MCBColumn TItem="ServerImage" Field="@(x => x.Id)" Title="Id" Filterable="true"/>
        <MCBColumn TItem="ServerImage" Field="@(x => x.Name)" Title="Name" Filterable="true">
            <Template>
                <span>@context.Name</span>
            </Template>
        </MCBColumn>
        <MCBColumn TItem="ServerImage" Field="@(x => x.Author)" Title="Author" Filterable="true"/>
        <MCBColumn TItem="ServerImage">
            <Template>
                <div class="text-end">
                    @if (!string.IsNullOrEmpty(context.UpdateUrl))
                    {
                        <a class="me-2" href="#" @onclick:preventDefault>
                            <i class="bx bx-refresh"></i>
                            Update
                        </a>
                    }

                    @if (!string.IsNullOrEmpty(context.DonateUrl))
                    {
                        <a class="me-2" href="@(context.DonateUrl)" target="_blank">
                            <i class="bx bxs-heart text-danger"></i>
                            Donate
                        </a>
                    }

                    <a href="#" class="me-2" @onclick:preventDefault @onclick="() => Export(context)">
                        <i class="bx bx-download"></i>
                        Export
                    </a>
                </div>
            </Template>
        </MCBColumn>
    </View>
    <ViewToolbar>
        <MCBCustomFileSelect @ref="EggUpload" OnFileSelected="ImportEgg">
            <a class="btn btn-info me-2">
                Import egg
            </a>
        </MCBCustomFileSelect>
        <MCBCustomFileSelect @ref="ImageUpload" OnFileSelected="Import">
            <a class="btn btn-info me-3">
                Import
            </a>
        </MCBCustomFileSelect>
    </ViewToolbar>
</FastCrud>

@code
{
    private FastCrud<ServerImage> Crud;

    private MCBCustomFileSelect ImageUpload;
    private MCBCustomFileSelect EggUpload;

    private IEnumerable<ServerImage> Loader(Repository<ServerImage> repository)
    {
        return repository
            .Get()
            .Include(x => x.DockerImages)
            .Include(x => x.Variables);
    }

    private void OnConfigure(FastCrudConfiguration<ServerImage> configuration)
    {
        configuration.ValidateDelete = image =>
        {
            if (ServerRepository.Get().Any(x => x.Image.Id == image.Id))
                throw new DisplayException("A server using this image exists. Please delete the servers using this image to continue");

            return Task.CompletedTask;
        };

        configuration.CustomDelete = CustomDelete;
    }

    private void OnConfigureForm(FastFormConfiguration<ServerImage> configuration, ServerImage image)
    {
        // General
        configuration.AddProperty(x => x.Name)
            .WithDefaultComponent()
            .WithPage("General")
            .WithValidation(FastFormValidators.Required);

        configuration.AddProperty(x => x.Author)
            .WithDefaultComponent()
            .WithPage("General")
            .WithValidation(FastFormValidators.Required);

        configuration.AddProperty(x => x.DonateUrl)
            .WithDefaultComponent()
            .WithPage("General")
            .WithDescription("Provide a url here in order to give people the ability to donate for your work");

        configuration.AddProperty(x => x.UpdateUrl)
            .WithDefaultComponent()
            .WithPage("General")
            .WithDescription("A http(s) url directly to a json file which will serve as an update for the image. When a update is fetched, it will just get this url and try to load it");

        // Power
        configuration.AddProperty(x => x.StartupCommand)
            .WithDefaultComponent()
            .WithValidation(FastFormValidators.Required)
            .WithPage("Start, Stop & Status")
            .WithDescription("This command will be executed at the start of a server. You can use environment variables in a {} here");

        configuration.AddProperty(x => x.OnlineDetection)
            .WithDefaultComponent()
            .WithValidation(FastFormValidators.Required)
            .WithPage("Start, Stop & Status")
            .WithDescription("A regex string specifying that a server is online when the daemon finds a match in the console output matching this expression");

        configuration.AddProperty(x => x.StopCommand)
            .WithDefaultComponent()
            .WithValidation(FastFormValidators.Required)
            .WithPage("Start, Stop & Status")
            .WithDescription("A command which will be sent to the servers stdin when it should get stopped. Power signals can be achived by using ^. E.g. ^C");
        
        // Parsing
        configuration.AddProperty(x => x.ParseConfiguration)
            .WithComponent<ImageParseConfigEditor>()
            .WithPage("Parsing");

        configuration.AddCustomPage("Variables", ComponentHelper.FromType<ImageVariables>(parameters =>
        {
            parameters.Add("Image", image);
        }));

        configuration.AddCustomPage("Docker Images", ComponentHelper.FromType<ImageDockerImages>(parameters =>
        {
            parameters.Add("Image", image);
        }));

        configuration.AddProperty(x => x.AllowDockerImageChange)
            .WithComponent<SwitchComponent>()
            .WithPage("Miscellaneous")
            .WithDescription("This toggle specifies if a user is allowed to change the docker image from the list of docker images associated to the image");
        
        configuration.AddProperty(x => x.DefaultDockerImage)
            .WithComponent<DefaultDockerImage>(dockerImage =>
            {
                dockerImage.Image = image;
            })
            .WithPage("Miscellaneous");

        configuration.AddProperty(x => x.AllocationsNeeded)
            .WithDefaultComponent()
            .WithPage("Miscellaneous")
            .WithValidation(x => x >= 1 ? ValidationResult.Success : new ValidationResult("This specifies the amount of allocations needed for this image in order to create a server"));

        configuration.AddProperty(x => x.InstallDockerImage)
            .WithDefaultComponent()
            .WithPage("Installation")
            .WithName("Docker Image")
            .WithValidation(FastFormValidators.Required)
            .WithValidation(RegexValidator.Create("^(?:[a-zA-Z0-9\\-\\.]+\\/)?[a-zA-Z0-9\\-]+(?:\\/[a-zA-Z0-9\\-]+)*(?::[a-zA-Z0-9_\\.-]+)?$", "You need to provide a valid docker image name"));

        configuration.AddProperty(x => x.InstallShell)
            .WithDefaultComponent()
            .WithPage("Installation")
            .WithName("Shell")
            .WithValidation(FastFormValidators.Required);

        configuration.AddProperty(x => x.InstallScript)
            .WithComponent<EditorComponent>()
            .WithPage("Installation")
            .WithName("Script")
            .WithValidation(FastFormValidators.Required);
    }

    private Task CustomDelete(ServerImage serverImage)
    {
        var image = ImageRepository
            .Get()
            .Include(x => x.Variables)
            .Include(x => x.DockerImages)
            .First(x => x.Id == serverImage.Id);

        // Cache relational data
        var variables = image.Variables.ToArray();
        var dockerImages = image.DockerImages.ToArray();

        // Unlink data
        image.DockerImages.Clear();
        image.Variables.Clear();

        // Save changes
        ImageRepository.Update(image);

        // Delete variables (errors ignored)
        foreach (var variable in variables)
        {
            try
            {
                VariableRepository.Delete(variable);
            }
            catch (Exception)
            {
                /* this should not fail the operation */
            }
        }

        // Delete docker images (errors ignored)
        foreach (var dockerImage in dockerImages)
        {
            try
            {
                DockerImageRepository.Delete(dockerImage);
            }
            catch (Exception)
            {
                /* this should not fail the operation */
            }
        }

        ImageRepository.Delete(serverImage);

        return Task.CompletedTask;
    }

    private async Task Export(ServerImage image)
    {
        var json = await ImageConversionHelper.ExportAsJson(image);
        var imageName = image.Name.Replace(" ", "");
        await DownloadService.DownloadString($"{imageName}.json", json);

        await ToastService.Success($"Successfully exported '{image.Name}'");
    }

    private async Task Import(IBrowserFile file)
    {
        try
        {
            var stream = file.OpenReadStream();

            using var sr = new StreamReader(stream);
            var content = await sr.ReadToEndAsync();

            var image = await ImageConversionHelper.ImportFromJson(content);

            ImageRepository.Add(image);
            await ToastService.Success($"Successfully imported '{image.Name}'");

            await ImageUpload.RemoveSelection();
            await Crud.Refresh();
        }
        catch (DisplayException)
        {
            throw;
        }
        catch (Exception e)
        {
            Logger.LogWarning("An error occured while importing a image: {e}", e);

            await ToastService.Danger("Unable to import egg: " + e.Message);
        }
        finally
        {
            await ImageUpload.RemoveSelection();
        }
    }

    private async Task ImportEgg(IBrowserFile file)
    {
        await AlertService.Confirm("Import a pterodactyl egg", "Importing pterodactyl eggs is a experimental feature and may result in unusable images. Are you sure you want to proceed?",
            async () =>
            {
                try
                {
                    var stream = file.OpenReadStream();

                    using var sr = new StreamReader(stream);
                    var content = await sr.ReadToEndAsync();

                    var image = await ImageConversionHelper.ImportFromEggJson(content);

                    ImageRepository.Add(image);
                    await ToastService.Success($"Successfully imported '{image.Name}'");

                    await EggUpload.RemoveSelection();
                    await Crud.Refresh();
                }
                catch (DisplayException)
                {
                    throw;
                }
                catch (Exception e)
                {
                    Logger.LogWarning("An error occured while importing a pterodactyl egg: {e}", e);

                    await ToastService.Danger("Unable to import egg: " + e.Message);
                }
                finally
                {
                    await EggUpload.RemoveSelection();
                }
            },
            "Yes, i take the risk");
    }
}