<div class="row">
    <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6 border-bottom-0">
        <li class="nav-item">
            <a class="nav-link text-white @(Index == 0 ? "active" : "")" href="/admin/sys">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white @(Index == 1 ? "active" : "")" href="/admin/sys/settings">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white @(Index == 2 ? "active" : "")" href="/admin/sys/files">Files</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white @(Index == 3 ? "active" : "")" href="/admin/sys/permissions">Permissions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white @(Index == 4 ? "active" : "")" href="/admin/sys/diagnose">Diagnose</a>
        </li>
    </ul>
</div>

@code
{
    [Parameter] public int Index { get; set; } = 0;
}