@page "/admin/system"

@using MoonCore.Extensions
@using MoonCore.Helpers
@using Moonlight.Client.App.Services
@using Moonlight.Shared.Http.Resources.Admin.Sys

@inject HttpApiClient HttpApiClient
@inject ToastService ToastService

@attribute [RequirePermission("admin.system.info")]

<NavTabs Index="0" TextSize="text-base" Names="@( ["System information", "Diagnose", "Configuration"])" Links="@( ["/admin/system", "/admin/system/diagnose", "/admin/system/config"])"/>

<LazyLoader Load="Load">
    <div class="mt-5 gap-5 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
        <StatCard Title="CPU Usage" Text="@(SystemInfo.CpuUsage + "%")" Icon="bi bi-cpu"/>
        <StatCard Title="Memory Usage" Text="@(Formatter.FormatSize(SystemInfo.MemoryUsage))" Icon="bi bi-memory"/>
        <StatCard Title="Host OS" Text="@(SystemInfo.OsName)" Icon="bi bi-motherboard"/>
        <StatCard Title="Uptime" Text="@(Formatter.FormatUptime(SystemInfo.Uptime))" Icon="bi bi-clock-history"/>
        
        <div class="relative overflow-hidden rounded-lg bg-slate-800 px-4 pb-6 pt-5 shadow">
            <div>
                <div class="absolute rounded-md p-3 bg-red-500">
                    <div class="h-6 w-6 flex justify-center items-center">
                        <i class="bi bi-arrow-repeat text-2xl text-white"></i>
                    </div>
                </div>
            </div>

            <div class="ml-16 flex items-center">
                <WButton OnClick="Restart" CssClasses="bg-red-500 hover:bg-red-600 w-full">Restart</WButton>
            </div>
        </div>
    </div>
</LazyLoader>

@code
{
    private SystemInfoResponse SystemInfo;

    private async Task Load(LazyLoader _)
    {
        SystemInfo = await HttpApiClient.GetJson<SystemInfoResponse>("admin/system/info");
    }

    private async Task Restart(WButton _)
    {
        await HttpApiClient.Post("admin/system/restart");
        await ToastService.Warning("Restart of api server requested. This will take a few seconds. Please be patient");
    }
}