@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Moonlight.Features.Theming.Services
@namespace Moonlight.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject ThemeService ThemeService

@{
    var themes = await ThemeService.GetEnabled();
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8"/>
    <base href="~/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moonlight</title>

    <link rel="shortcut icon" href="/img/logo.svg">

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>

    @foreach (var theme in themes)
    {
        var finalUrl = theme.CssUrl.StartsWith("/") ? theme.CssUrl : $"/api/assetproxy/theme/{theme.Id}/css";
        
        <!-- Theme: @(theme.Name) by @(theme.Author) -->
        <link href="@(finalUrl)" rel="stylesheet" type="text/css"/>
    }

    <link href="/css/utils.css" rel="stylesheet" type="text/css"/>
    <link href="/css/blazor.css" rel="stylesheet" type="text/css"/>
    <link href="/css/boxicons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/sweetalert2dark.css" rel="stylesheet" type="text/css"/>
    <link href="/css/interfont.css" rel="stylesheet" type="text/css"/>
    @* <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" rel="stylesheet" type="text/css"> *@
</head>
<body data-kt-app-header-fixed="true"
      data-kt-app-header-fixed-mobile="true"
      data-kt-app-sidebar-enabled="true"
      data-kt-app-sidebar-fixed="true"
      data-kt-app-sidebar-hoverable="true"
      data-kt-app-sidebar-push-header="true"
      data-kt-app-sidebar-push-toolbar="true"
      data-kt-app-sidebar-push-footer="true"
      class="app-default">

<component type="typeof(BlazorApp)" render-mode="ServerPrerendered"/>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/toaster.js"></script>
<script src="/js/moonlight.js"></script>
<script src="/_content/BlazorTable/BlazorTable.min.js"></script>
<script src="/js/sweetalert2.js"></script>
<script src="/js/ckeditor.js"></script>

@foreach (var theme in themes)
{
    if (!string.IsNullOrEmpty(theme.JsUrl))
    {
        var finalUrl = theme.JsUrl.StartsWith("/") ? theme.JsUrl : $"/api/assetproxy/theme/{theme.Id}/js";
        
        <!-- Theme: @(theme.Name) by @(theme.Author) -->
        <script src="@(finalUrl)"></script>
    }
}

<script src="/_framework/blazor.server.js"></script>
</body>
</html>