@page "/admin/websites/servers"

@using Moonlight.App.Repositories
@using Moonlight.App.Services
@using BlazorTable
@using Moonlight.App.Database.Entities
@using Moonlight.Shared.Components.Navigations

@inject PleskServerRepository PleskServerRepository
@inject SmartTranslateService SmartTranslateService

<OnlyAdmin>
    <AdminWebsiteNavigation Index="1" />
    
    <LazyLoader @ref="LazyLoader" Load="Load">
        <div class="card">
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold fs-3 mb-1">
                        <TL>Plesk servers</TL>
                    </span>
                </h3>
                <div class="card-toolbar">
                    <a href="/admin/websites/servers/new" class="btn btn-sm btn-light-success">
                        <i class="bx bx-layer-plus"></i>
                        <TL>Add new plesk server</TL>
                    </a>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <Table TableItem="PleskServer" Items="PleskServers" PageSize="25" TableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3" TableHeadClass="fw-bold text-muted">
                        <Column TableItem="PleskServer" Title="@(SmartTranslateService.Translate("Id"))" Field="@(x => x.Id)" Sortable="true" Filterable="true"/>
                        <Column TableItem="PleskServer" Title="@(SmartTranslateService.Translate("Name"))" Field="@(x => x.Name)" Sortable="true" Filterable="true"/>
                        <Column TableItem="PleskServer" Title="@(SmartTranslateService.Translate("Base url"))" Field="@(x => x.BaseUrl)" Sortable="true" Filterable="true"/>
                        <Pager ShowPageNumber="true" ShowTotalCount="true"/>
                    </Table>
                </div>
            </div>
        </div>
    </LazyLoader>
</OnlyAdmin>

@code
{
    private LazyLoader LazyLoader;

    private PleskServer[] PleskServers;
    
    private Task Load(LazyLoader lazyLoader)
    {
        PleskServers = PleskServerRepository
            .Get()
            .ToArray();
        
        return Task.CompletedTask;
    }
}
