@page "/admin/websites/servers/new"
@using Moonlight.App.Repositories
@using Moonlight.App.Services
@using Microsoft.AspNetCore.Components
@using Moonlight.App.Database.Entities

@inject PleskServerRepository PleskServerRepository
@inject SmartTranslateService SmartTranslateService
@inject NavigationManager NavigationManager

<OnlyAdmin>
    <div class="d-flex flex-center">
        <div class="card rounded-3 w-md-550px">
            <div class="card-body">
                <div class="d-flex flex-center flex-column-fluid">
                    <div class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework">
                        <div class="fv-row mb-8">
                            <label class="form-label">
                                <TL>Name</TL>
                            </label>
                            <input @bind="NewServer.Name" type="text" placeholder="@(SmartTranslateService.Translate("Name"))" class="form-control bg-transparent">
                        </div>
                        <div class="fv-row mb-8">
                            <label class="form-label">
                                <TL>Base url</TL>
                            </label>
                            <input @bind="NewServer.BaseUrl" type="text" placeholder="@(SmartTranslateService.Translate("Base url"))" class="form-control bg-transparent">
                        </div>
                        <div class="fv-row mb-8">
                            <label class="form-label">
                                <TL>Api key</TL>
                            </label>
                            <input @bind="NewServer.ApiKey" type="text" placeholder="@(SmartTranslateService.Translate("Api key"))" class="form-control bg-transparent">
                        </div>
                        <div class="fv-row mb-9">
                            <WButton Text="@(SmartTranslateService.Translate("Create"))"
                                     WorkingText="@(SmartTranslateService.Translate("Creating"))"
                                     CssClasses="btn-success"
                                     OnClick="Create">
                            </WButton>
                            <a href="/admin/websites/servers" class="btn btn-primary">
                                <TL>Back</TL>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</OnlyAdmin>

@code
{
    private PleskServer NewServer = new();

    private Task Create()
    {
        PleskServerRepository.Add(NewServer);

        NavigationManager.NavigateTo("/admin/websites/servers");

        return Task.CompletedTask;
    }
}