<div class="@(TextSize) font-medium text-center text-slate-300">
    <ul class="flex flex-wrap -mb-px">

        @for (var i = 0; i < Names.Length; i++)
        {
            <li class="me-4">

                @if (i == Index)
                {
                    <a href="@(Links[i])" class="inline-block mt-3 me-3 px-1 pb-3 border-b-2 rounded-t-lg active text-white border-indigo-500" aria-current="page">
                        @(Names[i])
                    </a>
                }
                else
                {
                    <a href="@(Links[i])" class="inline-block mt-3 me-3 px-1 pb-3 border-transparent rounded-t-lg hover:text-white hover:border-b-2 hover:border-indigo-500">
                        @(Names[i])
                    </a>
                }
            </li>
        }
    </ul>
</div>

@code
{
    [Parameter] public string[] Names { get; set; } = [];
    [Parameter] public string[] Links { get; set; } = [];
    [Parameter] public int Index { get; set; }
    [Parameter] public string TextSize { get; set; } = "text-sm";
}